fastapi==0.115.2
uvicorn==0.23.2
pydantic==2.5.2
python-dotenv==1.0.1
sqlalchemy==2.0.27
pydub==0.25.1
gTTS==2.3.2
torch==2.1.0
transformers==4.37.2
librosa==0.10.1
soundfile==0.12.1
python-magic==0.4.27
requests==2.31.0
pandas==2.1.4
scikit-learn==1.3.2
nltk==3.8.1
matplotlib==3.8.2
jiwer==3.0.3
numpy==1.24.4
scipy==1.11.3
pydantic[email]
python-jose
passlib[bcrypt]
sqlalchemy
pydantic-settings
